@import url("src/index.css");

.login-page {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-color);
  gap: var(--gap-l);
  .login-form-container {
    padding: var(--padding-xl);
    background: var(--white-color);
    border-radius: var(--rounded-border);
    width: 300px;
  }
  img {
    width: 250px;
    height: 250px;
  }
}
