@import url("src/index.css");

.user-info-container {
  display: flex;
  background: var(--white-color);
  justify-content: center;
  gap: var(--gap-l);
  padding: var(--padding-l);
  border-radius: var(--rounded-border);
  height: 360px;
  .first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-m);
    .upload-sec {
      display: flex;
      flex-direction: column;
      align-items: center;
      word-break: break-all;
      width: 200px;
    }
  }
}
