
@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-.ttf);
}
.v2-login-page {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  gap: var(--gap-l);
  background-image: url(../../../assets/imgs/loginbg.jpg);
  background-size: cover;
  .content-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 100%;
    margin-right: 5%;
    .login-form-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: var(--padding-l);
      gap: var(--gap-l);
      background: var(--white-color);
      border-radius: var(--rounded-border-xl);
      width: 400px;
      .project-manager-title {
        color: var(--primary-color);
        font-weight: 900;
      }
    }
  }
}
