@import url(src/index.css);

.v2-login-page {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  gap: var(--gap-l);
  background-image: url(../../../assets/imgs/loginbg.jpg);
  background-size: cover;

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 5%;
    padding-top: 10%;
    padding-left: 10%;
    h2 {
      color: var(--semi-black-color);
    }
    .login-title {
      color: var(--semi-black-color);
      .title {
        font-family: "Poppins semi bold";
        font-size: 38px;
        margin-bottom: 10px;
      }
      .emphasized-text {
        color: var(--primary-color);
      }
    }
    .login-form-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: var(--padding-l);
      gap: var(--gap-l);
      background: var(--white-color);
      border-radius: var(--rounded-border-xl);
      width: 400px;
      .project-manager-title {
        color: var(--primary-color);
        font-weight: 900;
        font-family: "Poppins black";
      }
      /* override UI lib*/
      .ant-spin-nested-loading {
        width: 100%;
      }
    }
  }
}
