.forgot-password-page {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-color);
  gap: var(--gap-l);
  .forgot-password-form-container {
    padding: var(--padding-xl);
    background: var(--white-color);
    border-radius: var(--rounded-border);
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    width: 400px;
  }
  img {
    width: 250px;
    height: 250px;
  }
}
