@import url("src/index.css");

.account-card-loading {
  width: 100%;
  min-height: 300px;
}

.account-detail-modal {
  width: 800px !important;
  .account-tab {
    width: 100%;
    background: var(--white-color);
    padding: var(--padding-m);
    border-radius: var(--rounded-border);
  }
}
