@import url(src/index.css);

.project-staffs {
  .staff-list-btn-content {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-s);
    .remove-user-icon {
      color: var(--warning-color);
      font-size: 18px;
    }
    .view-task-btn {
      color: var(--primary-color);
    }
    .add-user-icon {
      color: var(--primary-color);
      font-size: 18px;
    }
  }
}
