@import url(src/index.css);

.task-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  margin-top: 30px;
  .task-detail-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .main-sec {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      gap: var(--gap-xl);
      width: 500px;
      .task-desc {
        width: 100%;
        height: 30px;
        .task-desc-input {
          position: absolute;
        }
        .task-desc-displayer {
          position: absolute;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: var(--gap-s);
          cursor: pointer;
          transition-duration: 300ms;
          &:hover {
            background-color: var(--gray-color);
          }
        }
      }
    }
    .side-sec {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      .task-date-picker {
        width: 250px;
        height: 70px;
        border-radius: var(--rounded-border);
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
          background: var(--gray-color);
        }
        .task-update-date {
          position: absolute;
          z-index: 1;
          opacity: 0;
        }
      }
      .task-update-date-displayer {
        padding: var(--padding-s);
        cursor: pointer;
        position: absolute;
        word-break: break-all;
      }
    }
  }
  .task-update-form-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-s);
  }
}
