@import url(src/index.css);

.project-card {
  width: 500px;
  cursor: pointer;
  .project-card-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .text-info {
      display: flex;
      flex-direction: column;
      width: 80%;
      .project-card-line {
        display: flex;
        justify-content: flex-start;
        gap: var(--gap-s);
        word-break: break-word;
        .team-icon {
          color: var(--primary-color);
        }
        .info-icon {
          color: #faad14;
        }
      }
    }
  }
}
