@import url(src/index.css);

.project-card {
  width: 500px;
  cursor: pointer;
  .project-card-content {
    display: flex;
    flex-direction: column;
    span {
      display: flex;
      justify-content: flex-start;
      gap: var(--gap-s);
    }
  }
}
