@import "src/index.css";
.mng-page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 120px;
  border-radius: var(--rounded-border);
  background-color: var(--white-color);
  padding: var(--padding-s) var(--padding-l);
  .page-header-row-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-m);
    height: auto;
    .mng-title-section {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      gap: var(--gap-m);
      height: auto;
    }
  }
  .page-header-row-2 {
    height: auto;
    width: 100%;
    display: flex;
    gap: var(--gap-m);
    align-items: center;
    justify-content: flex-end;
    .filter-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--gap-m);
      .filter-title {
        font-weight: 500;
      }
      .filter-selector {
        width: 150px;
      }
    }
  }
}
