@import url(src/index.css);

.task-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  .filter-role {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-s);
  }
  .create-task-btn {
    width: 150px;
  }
  .task-done-icon {
    color: var(--success-color);
    font-size: large;
  }
  .task-in-progress-icon {
    color: var(--info-color);
    font-size: large;
  }
}
.task-modal {
  width: 650px !important;
}
.project-section-title {
  font-weight: 600;
}
