@import url("src/index.css");

.project-detail-modal {
  width: 800px !important;
  .project-tabs {
    width: 100%;
    background: var(--white-color);
    padding: var(--padding-m);
    border-radius: var(--rounded-border);
  }
}
.project-card-container {
  padding-top: var(--padding-m);
}
.project-card-loading {
  width: 100%;
  min-height: 300px;
}
