.user-form-container {
  .user-form {
    width: 600px;
    input:disabled {
      color: rgb(0, 0, 0, 1);
    }
    .user-form-cancel-btn {
      margin-left: 10px;
    }
  }
  .update-user-info-btn {
    width: 600px;
  }
}
