@import url("src/index.css");

.doc-sec {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  gap: var(--gap-m);
  .file-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    justify-content: space-between;
    .file-row {
      display: flex;
      width: 300px;
      justify-content: space-between;
      .file-name-icon {
        display: flex;
        align-items: flex-start;
        gap: var(--gap-m);
        width: 180px;
      }
    }
  }
}
