.headbar {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-s);
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  background: var(--white-color);
  width: 100%;
  height: 10dvh;
  max-height: 80px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--gray-color);
  .headbar-avatar-wraper {
    cursor: pointer;
  }
}
.headbar-placeholder {
  width: 100%;
  height: 10dvh;
}

.user-headbar-options {
  display: flex;
  flex-direction: column;
  width: 300px;
  .user-headbar-options-card {
    border: none;
    /* override */
    .ant-card-body {
      padding: 5px 0px 5px 0px;
    }
  }
  .user-headbar-option-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    gap: var(--gap-s);
    svg {
      width: 16px;
    }
  }
}
