@import url(src/index.css);

.project-reports-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: var(--padding-l);
  max-height: 50dvh;
  overflow-y: auto;
  .report-timeline {
    width: 100%;
  }
}
