@import url(src/index.css);

.time-line-report-department {
  width: 100%;
  overflow: auto;
  padding-top: var(--padding-m);
  padding-right: var(--padding-m);
  .ant-timeline-item-label {
    width: 80px !important;
  }
  .ant-timeline-item-tail {
    inset-inline-start: 90px !important;
  }
  .ant-timeline-item-content {
    inset-inline-start: 90px !important;
    width: 85% !important;
  }
  .ant-timeline-item-head {
    inset-inline-start: 90px !important;
  }
}
