@import "src/index.css";

.sidebar-container {
  .side-avatar-containter {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 4px;
    cursor: pointer;
    .avatar-role {
      background-color: #001529;
      border: 0.5px solid rgb(255, 255, 255, 0.65);
      color: rgb(255, 255, 255, 0.65);
      animation-duration: 0.3s;
      width: 30px;
    }
    .avatar-text {
      color: rgb(255, 255, 255, 0.65);
      font-size: 14px;
      margin-left: 4px;
      width: 130px;
      font-weight: 500;
      &:hover {
        color: inherit;
      }
    }
    &:hover {
      color: white;
    }
  }
}
.extended-sidebar-container {
  opacity: 0.92;
  z-index: 2;
}
.extended-avatar {
  width: 96% !important;
  justify-content: start;
  padding-left: 15px;
  padding-right: 16px;
  opacity: 0.9;
}
.select-info {
  background: #1677ff;
  border-radius: 8px;
}
